<<<<<<< HEAD
header {
    background-color: red;
    height: 70px;
    width: 100%;
=======
header{
    Background-color:#FF0000;
    height: 70px;
    width:100%;
>>>>>>> 4a960da2fab6431548d1f97310359f23edd043a7
}
